/* Home Page Styling */
.home-page {
  background-image: url("../assets/PINKCUPBG.png");
  background-size: 45%;
  background-position: right -7%;
  background-attachment: scroll;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* Main Text Styling */
.body_text {
  font-size: 80px;
  color: #f9dddb; 
  text-align: left;
  margin-left: 10px;
  position: relative;
}

/* Carousel Styling */
.carousel {
  position: absolute;
  top: 55%;
  right: 10%;
  transform: translate(0, -50%);
  width: 472px;
  height: auto;
  z-index: 10;
}

/* Responsive Styles (Mobile < 768px) */
@media (max-width: 768px) {
  .body_text {
      font-size: 24px;
  }

  .carousel {
      width: 70%;
      right: 15%;
  }
}
